<section class="beautiful-home" id="beautiful-home">
    <div class="container">
        <div class="row">
            <h2 class="beautiful-home__header">WE CAN MAKE YOUR<br> HOME BEAUTIFUL</h2>
            <div class="col-md-4 nopadding">
                <div class="card" data-index="0">
                    <div class="card__top-serif hidden-md hidden-sm hidden-xs"></div>
                    <div class="card__icon-wrapper card__icon-wrapper--active">
                        <div class="card__icon icon-cube-w"></div>
                    </div>
                    <h3 class="card__name">ARCHITECTURAL DESIGN</h3>
                    <p class="card__text">Lorem ipsum dolor sit consectetur adipiscing elit. Aenean nulla risus, semper sit amet turpis class
                        interdum viverra sapien.</p>
                </div>
            </div>
            <div class="col-md-4 nopadding">
                <div class="card" data-index="1">
                    <div class="card__top-serif hidden-md hidden-sm hidden-xs"></div>
                    <div class="card__icon-wrapper">
                        <div class="card__icon icon-speedometer"></div>
                    </div>
                    <h3 class="card__name">INTERIOR DESIGN</h3>
                    <p class="card__text">Lorem ipsum dolor sit consectetur adipiscing elit. Aenean nulla risus, semper sit amet turpis class
                        interdum viverra sapien.</p>
                </div>
            </div>
            <div class="col-md-4 nopadding-left">
                <div class="card" data-index="2">
                    <div class="card__top-serif hidden-md hidden-sm hidden-xs"></div>
                    <div class="card__icon-wrapper">
                        <div class="card__icon icon-line-chart"></div>
                    </div>
                    <h3 class="card__name">3D VISUALIZATION & ANIMATION</h3>
                    <p class="card__text">Lorem ipsum dolor sit consectetur adipiscing elit. Aenean nulla risus, semper sit amet turpis class
                        interdum viverra sapien.</p>
                </div>
            </div>
            <div class="beautiful-home__right-line hidden-xs hidden-sm hidden-md"></div>
            <div class="beautiful-home__bottom-line hidden-xs hidden-sm hidden-md"></div>
            <div class="col-md-offset-1 col-md-10">
                <div class="carousel">
                    <div class="owl-carousel">
                        <figure class="carousel__slide">
                            <img class="carousel__img" src="images/project1.jpg" alt="project 1">
                            <figcaption class="carousel__description">
                                <div class="btn btn--expand"><i class="fa fa-expand"></i></div>
                                <h3 class="carousel__project-name">Project name 01</h3>
                                <address class="carousel__adr"><i class="fa fa-map-marker"></i> MI, 302, Road 22</address>
                            </figcaption>
                        </figure>
                        <figure class="carousel__slide">
                            <img class="carousel__img" src="images/project2.jpg" alt="project 2">
                            <figcaption class="carousel__description">
                                <div class="btn btn--expand"><i class="fa fa-expand"></i></div>
                                <h3 class="carousel__project-name">Project name 02</h3>
                                <address class="carousel__adr"><i class="fa fa-map-marker"></i> MI, 436, Road 10b</address>
                            </figcaption>
                        </figure>
                        <figure class="carousel__slide">
                            <img class="carousel__img" src="images/project3.jpg" alt="project 3">
                            <figcaption class="carousel__description">
                                <div class="btn btn--expand"><i class="fa fa-expand"></i></div>
                                <h3 class="carousel__project-name">Project name 03</h3>
                                <address class="carousel__adr"><i class="fa fa-map-marker"></i> MI, 543, Road 52</address>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="carousel__btn carousel__btn--prev">
                            <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="carousel__btn carousel__btn--next">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>