<footer class="footer">
    <div class="container">
        <div class="row">
            <small class="footer__copyright">Copyright © <strong class="strong">Symu.co</strong></small>
            <ul class="footer__socials socials unstyled-list">
                <li class="socials__el"><a class="socials__link" href="#facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="socials__el"><a class="socials__link" href="#twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="socials__el"><a class="socials__link" href="#google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="socials__el"><a class="socials__link" href="#instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>