<header class="site-header" id="header">
    <div class="container">
        <div class="row">
            <a class="site-header__logo hidden-xs hidden-sm hidden-md" href="#"><img src="images/logo.png" alt="blueprint"></a>
            <h2 class="site-header__top-h">We Are</h2>
            <h1 class="site-header__middle-h">Ready For blueprint</h1>
            <h2 class="site-header__bottom-h">WE CAN MAKE YOUR HOME BEAUTIFUL</h2>
            <a class="btn btn--our-works" href="#beautiful-home">Our Works</a>
        </div>
        <a class="btn btn--scroll-down" href="#video">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </div>
</header>