<section class="stats" id="stats">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats__value" data-counterup-time="2500" data-counterup-delay="30">150,192</div>
                <h3 class="stats__name">Satisfied Users</h3>
                <p class="stats__desc">Lorem Ipsum is simply dummy text of
                    <br class="hidden-xs hidden-sm"> the printing and typesetting.</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats__value" data-counterup-time="2500" data-counterup-delay="30">5,972</div>
                <h3 class="stats__name">Coffee Cups</h3>
                <p class="stats__desc">Lorem Ipsum is simply dummy text of
                    <br class="hidden-xs hidden-sm"> the printing and typesetting.</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats__value" data-counterup-time="2500" data-counterup-delay="30">1500</div>
                <h3 class="stats__name">Projects</h3>
                <p class="stats__desc">Lorem Ipsum is simply dummy text of
                    <br class="hidden-xs hidden-sm"> the printing and typesetting.</p>
            </div>
        </div>
    </div>
</section>