<section class="our-team" id="team">
    <div class="our-team__container container">
        <div class="row">
            <h2 class="our-team__header">Meet The Team</h2>
            <p>Keep away from people who try to belittle Good just ask Plunning
                <br class="hidden-xs"> your ambitions. Design people always do that, but the really
                <br class="hidden-xs"> great make you feel that you, too, can become great. Friendly neighbour there
                that power.</p>
            <div class="circles hidden-md hidden-sm hidden-xs">
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-minus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
                <div class="our-team__toggle-btn"><i class="fa fa-plus"></i></div>
            </div>
            <div class="hidden-md hidden-sm hidden-xs">
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Veronica Knight</h3>
                        <span class="worker-desc__profession">Cartwright</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Julius Nichols</h3>
                        <span class="worker-desc__profession">Chemist</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Becky Cohen</h3>
                        <span class="worker-desc__profession">Academic</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn table">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Jeffrey Fowler</h3>
                        <span class="worker-desc__profession">Project Manager</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Jan Casey</h3>
                        <span class="worker-desc__profession">Ship Builder</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Israel Cross</h3>
                        <span class="worker-desc__profession">Runecrafter</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Mario Black</h3>
                        <span class="worker-desc__profession">Pyromancer</span>
                    </div>
                </div>
                <div class="worker-desc animated fadeIn none">
                    <div class="worker-desc__wrapper">
                        <h3 class="worker-desc__name">Mandy Lopez</h3>
                        <span class="worker-desc__profession">Astronomist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>