<section class="video-section" id="video">
    <div class="container">
        <div class="row">
            <p class="video-section__text">Keep away from people who try to belittle Good just ask Planning
                <br class="hidden-xs"> your ambitions Design people always do that bbvut the really
                <br class="hidden-xs"> great. Friendly neighbour there that power. Keep away Architecture
                <br class="hidden-xs"> who try to Ambitions people do that really great.</p>
            <video class="video-section__video-player" width="640" height="453" controls>
                Your browser does not support the video tag.
                <source src="videos/video.mp4" type="video/mp4">
                <source src="videos/video.avi" type="video/avi">
            </video>
        </div>
    </div>
</section>