//variables
@border: 2px solid @secondary;

#beautiful_home {
    background-color: #f9f9f9;
    height: 1286px;
    &:extend(.divider);
    text-align: center;
    h2 {
        margin-top: 99px;
        margin-bottom: 55px;
        color: @bg_dark;
    }
    .card {
        text-align: left;
        border-left: @border;
        border-bottom: @border;
        .top_serif {
            width: 30px;
            border-top: @border;
        }
        .icon {
            margin: 5px;
            float: left;
            width: 50px;
            height: 50px;
            text-align: center;
            transition: all 0.3s;
            div {
                margin-top: (50px - 24px) / 2;
            }
            &.is-icon-active {
                background-color: @secondary;
            }
        }
        h3 {
            margin-left: 90px;
        }
        p {
            margin-left: 90px;
            font-family: Lora, sans-serif;
            font-size: 1em;
            line-height: 2em;
            color: #767676;
            text-align: left;
        }
    }
    #right_line {
        border-left: @border;
        height: 572px;
        margin-right: 15px;
        float: right;
    }
    #bottom_line {
        border-bottom: @border;
        position: absolute;
        top: 966px;
        right: 15px;
        width: 140px;
    }
}
