#contacts {
    &:extend(.divider);
    background-color: @accent;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    h2 {
        margin-bottom: 60px;
    }
    address {
        margin-top: 55px;
        text-align: left;
        font-style: normal;
        h3 {
            font-size: 1.125em;
            font-weight: 600;
            line-height: 30px;
        }
        .adr, .tel {
            font-family: 'Lora', sans-serif;
            font-size: 0.875em;
            line-height: 30px;
        }
    }
}

@media (max-width: 480px) {
    #contacts {
        padding-top: 70px;
        h2 {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        #map, address {
            margin-top: 30px;
        }
    }
}