.site-header {
    .bg-image("header_bg.jpg");
    height: 900px;
    text-align: center;
    color: @accent;
    &__logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    &__top-h {
        margin-top: 320px;
        font-family: Exo, sans-serif;
        margin-bottom: 28px;
    }
    &__bottom-h {
        margin-top: 20px;
        font-family: Lora, sans-serif;
    }
}

@media screen and (max-width: 480px) {
    .site-header {
        height: 600px;
        padding: 0 20px;
        &__logo {
            left: 0;
        }
        &__middle-h {
            font-size: 3em;
        }
        &__top-h {
            margin-top: 150px;
        }
    }
}