.testimonials {
    text-align: center;
    .bg-image("testimonials_bg.jpg");
    &__header {
        font-family: Raleway, sans-serif;
        color: @accent;
        margin-top: 100px;
        margin-bottom: 40px;
        font-weight: 700;
        line-height: 31px;
    }
}

.testimonial {
    &__body {
        position: relative;
        border-radius: 3px;
        background-color: @secondary;
        .angle {
            width: 0;
            height: 0;
            border-top: 8px solid @secondary;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            position: absolute;
            bottom: -8px;
            left: 50px;
        }
    }
    &__text {
        font-family: Lora, sans-serif;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 1.875em;
        text-align: left;
        color: @accent;
        padding: 45px 40px;
    }
    &__footer {
        margin-top: 25px;
        margin-bottom: 40px;
        text-align: left;
        color: @accent;
        font-family: Raleway, sans-serif;
        font-weight: 400;
        display: table;
        .gray-circle {
            .circle(@bg_color: #bfc9d8, @diametr: 32px);
            display: table-cell;
            vertical-align: middle;
        }
        .author-row {
            padding-left: 20px;
            display: table-cell;
            vertical-align: middle;
            * {
                padding-right: 15px;
            }
        }
    }
    &__author {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1200px) {
    .testimonials {
        height: auto
    }
    .testimonial {
        &__body {
            height: auto;
        }
        &__text {
            padding: 10px 10px;
        }
    }
}

@media screen and (max-width: 992px) {
    .testimonials__header {
        margin-top: 45px;
        margin-bottom: 20px;
    }
}