#video_section {
    height: 825px;
    text-align: center;
    border-top: thin solid transparent;
    &:extend(.divider);
    p {
        margin-top: 100px;
        font-family: Raleway, sans-serif;
        color: @bg_dark;
        font-size: 1.313em;
        font-weight: 500;
        line-height: 1.938em;
    }
}
